.gradle
.classpath
.project
.settings
build
bin
target
voucher-gen.log
t4f-voucher/t4f-voucher-gen/wildcard_ticketsforfun_com_br.jks
t4f-voucher-rest-website.log
application.pid
*.iml
.idea
.factorypath
t4f-tasks/tasksdb.mv.db
t4f-tasks/tasksdb.trace.db
*.mv.db
*.trace.db
rebel.xml
t4f-admin/t4f-admin-web/admin.log
t4f-pos/t4f-pos-web/pos-web.log
t4f-subscription/t4f-subscription-web/subscription.log
lolla17.log
websac.log
customnotifications.log
tasks.log
t4f-purchase-api/logs/
t4f-show-api/logs/
tasks.log
t4f-purchase-api.log
*.log
logs/
